<!DOCTYPE html>
<html>

<head>
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="css/home.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
	<img class="wave" src="images/wave.png">
	<div class="container">
		<div class="img">
			<img src="images/undraw.svg">
		</div>
		<div class="login-content">
			<form id="loginForm">
				<img src="images/avatar.svg">
				<h2 class="title">Welcome</h2>
				<div class="input-div one">
					<div class="i">
						<i class="fas fa-user"></i>
					</div>
					<div class="div">
						<h5>Email</h5>
						<input type="text" id="email" name="email" class="input" required>
					</div>
				</div>
				<div class="input-div pass">
					<div class="i">
						<i class="fas fa-lock"></i>
					</div>
					<div class="div">
						<h5>Password</h5>
						<input type="password" id="password" name="password" class="input" required>
					</div>
				</div>
				<!--<a href="#">Forgot Password?</a>-->
				<select id="sel" class="select-content" name="mode" required>
					<option value="" disabled selected>Select mode</option>
					<option value="chairman">Directeur</option>
					<option value="teacher">Enseignant</option>
					<option value="branchManager">Responsable de filières</option>
					<option value="businessManager">Responsable des Affaires</option>
				</select>
				<input type="submit" name="submit" id="but_submit" class="btn" value="Login">
			</form>
		</div>
	</div>
	<script type="text/javascript" src="js/home.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

</body>

</html>